{% extends 'base.html' %}

{% block header %}
    <h2>{% block title %}Вход{% endblock %}</h2>
{% endblock %}

{% block content %}
    <form id="login-form" action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>{{ form.login.label }}</p>
        <p>{{ form.login() }}</p>
        <ul>
            {% for error in form.login.errors %}
                <li><span>[{{ error }}]</span>
            {% endfor %}
        </ul>

        <p>{{ form.password.label }}</p>
        <p>{{ form.password() }}</p>
        <ul>
            {% for error in form.password.errors %}
                <li><span>[{{ error }}]</span>
            {% endfor %}
        </ul>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}